= form_for @relationship do |f|
  -if @relationship.errors.any?
    #error_explanation
      %h2= "#{pluralize(@relationship.errors.count, "error")} prohibited this relationship from being saved:"
      %ul
        - @relationship.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :relationship_type
    = f.collection_select :relationship_type_id, RelationshipType.all, :id, :forward_name, :include_blank => true
  .field
    = f.label :person
    = f.collection_select :person_id, Person.all, :id, :name, :include_blank => true
  .field
    = f.label :related_person
    = f.collection_select :related_person_id, Person.all, :id, :name, :include_blank => true
  .actions
    = f.submit 'Save'
