= form_for @relationship do |f|
  -if @relationship.errors.any?
    #error_explanation
      %h2= "#{pluralize(@relationship.errors.count, "error")} prohibited this relationship from being saved:"
      %ul
        - @relationship.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :relationship_type
    = f.text_field :relationship_type
  .field
    = f.label :person
    = f.text_field :person
  .field
    = f.label :related_person
    = f.text_field :related_person
  .actions
    = f.submit 'Save'
