%h1 Listing relationships for #{@person.name}

%table
  %tr
    %th Relationship type
    %th Related person
    %th
    %th
    %th

  - @relationships.each do |relationship|
    %tr
      %td= relationship.relationship_type.name
      %td= relationship.related_person.name
      %td= link_to 'Show', person_relationship_path(@person, relationship)
      %td= link_to 'Edit', edit_person_relationship_path(@person, relationship)
      %td= link_to 'Destroy', person_relationship_path(@person, relationship), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Relationship', new_person_relationship_path(@person)
\|
= link_to 'Back', edit_person_path(@person)
