%h1 Listing relationship types

%table
  %tr
    %th Name
    %th Backward name
    %th
    %th
    %th

  - @relationship_types.each do |relationship_type|
    %tr
      %td= relationship_type.name
      %td= relationship_type.read_attribute :backward_name
      %td= link_to 'Show', relationship_type
      %td= link_to 'Edit', edit_relationship_type_path(relationship_type)
      %td= link_to 'Destroy', relationship_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Relationship type', new_relationship_type_path
\|
= link_to 'Back', root_url
