%h1 Listing relationship_types

%table
  %tr
    %th Forward name
    %th Backward name
    %th
    %th
    %th

  - @relationship_types.each do |relationship_type|
    %tr
      %td= relationship_type.forward_name
      %td= relationship_type.backward_name
      %td= link_to 'Show', relationship_type
      %td= link_to 'Edit', edit_relationship_type_path(relationship_type)
      %td= link_to 'Destroy', relationship_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Relationship type', new_relationship_type_path
